* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
  /* border-collapse: collapse; */
}

body {
  border: none;
  background-color: blanchedalmond;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.mondrian {
  width: 600px;
  height: 600px;
  background-color: blue;
}

.left {
  float: left;
  background-color: yellow;
  width: 75%;
  height: 100%;
}

.left-top {
  height: 80%;
}
.left-top-left {
  float: left;
  width: 67%;
  height: 100%;
}
.left-top-right {
  float: right;
  width: 33%;
  height: 100%;
  background-color: blue;
}

.left-top-left-top {
  height: 50%;
}
.left-top-left-bottom {
  height: 50%;
  background-color: blue;
}

.left-top-left-bottom-left {
  float: left;
  width: 50%;
  height: 100%;
}
.left-top-left-bottom-right {
  float: right;
  width: 50%;
  height: 100%;
  background-color: black;
}

.left-top-left-bottom-right-top {
  height: 50%;
}
.left-top-left-bottom-right-bottom {
  height: 50%;
  background-color: white;
}

.left-bottom {
  height: 20%;
}
.left-bottom-left {
  float: left;
  height: 100%;
  width: 33%;
  background-color: red;
}
.left-bottom-right {
  float: right;
  height: 100%;
  width: 67%;
  background-color: yellow;
}

.right {
  float: right;
  background-color: gray;
  width: 25%;
  height: 100%;
}
.right-top {
  height: 60%;
  background-color: white;
}
.right-middle {
  height: 20%;
  background-color: honeydew;
}
.right-bottom {
  height: 20%;
  background-color: honeydew;
}
