@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 10000px;
}

/* header */
.header {
  z-index: 99;
  /* background-color: #f6f5ef; */
  background-color: #f6f5ef;
  /* width: 1100px; */
  width: 100vw;
  height: 120px;
  position: fixed;
  padding: 0 9rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* logo */
.logo {
  width: 75px;
  height: 75px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* top-nav */
.inner-top-nav {
  display: flex;
  font-size: 13px;
  padding-left: 150px;
  width: 100%;
  align-items: center;
}
.inner-top-nav-ul {
  display: flex;
  margin: 20px 0;
}
.inner-top-nav-ul li {
  color: #555555;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}
.inner-top-nav-ul li:hover {
  text-decoration: underline #555555;
}
.search-icons {
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
}

/* bottom-nav */
.inner-bottom-nav {
  font-size: 13px;
}
.inner-bottom-nav-ul {
  display: flex;
}
.inner-bottom-nav-ul li {
  height: 56px;
  line-height: 20px;
  color: #333333;
  padding: 10px 20px 0px;
  list-style: none;
  cursor: pointer;
}
.inner-bottom-nav-ul li:hover {
  border: 1px solid black;
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline #669900;
}

/* main */
.main-wrap {
  background-position: center;
  background-size: cover;
  position: relative;
}
.yellow-background {
  height: 646px;
  z-index: -2;
}
.main-inner-wrap {
  width: 100vw;
  padding: 0 9rem;
  position: absolute;
  top: 20%;
  left: 44px;
}
.pc-slogan {
}
.combine {
  width: 300px;
}

.btn {
  width: 129px;
  margin: 0 auto;
}
