* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  width: 95vw;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* logo */
.logo {
  width: 75px;
  height: 75px;
}
.logo img {
  width: 100%;
  height: 100%;
}
/* top-nav */
.inner-top-nav {
  display: flex;
}
.inner-top-nav-ul {
  display: flex;
  align-items: center;
}
.inner-top-nav-ul li {
  color: #555555;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}
.search-icons {
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
}

/* bottom-nav */
.inner-bottom-nav {
}
.inner-bottom-nav-ul {
  display: flex;
}
.inner-bottom-nav-ul li {
  color: #333333;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}
